<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte de Efectividad</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register("{{ url_for('static', filename='service-worker.js') }}")
          .then(reg => console.log("Service Worker registrado", reg))
          .catch(err => console.error("Error registrando Service Worker", err));
      }
    </script>
</head>
<body>
    <div class="sidebar">
        <a href="{{ url_for('home') }}">Inicio</a>
        <a href="{{ url_for('index') }}">Reporte de Efectividad</a>
        <a href="{{ url_for('asistencia') }}">Asistencia</a>
        <a href="{{ url_for('packing_list') }}">Envios</a>
    </div>
    <div class="overall-progress">
        <h3>Promedio Semanal</h3>
        <div class="progress">
            <div class="progress-bar" style="width: {{ overall_average_efec_t }}%;" aria-valuenow="{{ overall_average_efec_t }}" aria-valuemin="0" aria-valuemax="100">
                {{ overall_average_efec_t }}%
            </div>
        </div>
        <div class="progress-label">Eficiencia Total</div>
        <div class="progress">
            <div class="progress-bar" style="width: {{ overall_average_efect_prod }}%;" aria-valuenow="{{ overall_average_efect_prod }}" aria-valuemin="0" aria-valuemax="100">
                {{ overall_average_efect_prod }}%
            </div>
        </div>
        <div class="progress-label">Eficiencia de Producción</div>
    </div>
    <div class="content">
        <h1>Reporte de Efectividad</h1>
        <form method="POST">
            <label for="week">Selecciona la semana:</label>
            <input type="week" id="week" name="week" value="{{ week }}">
            <button type="submit">Filtrar</button>
        </form>
        <div class="scrollable-table">
            <table>
                <thead class="sticky-header">
                    <tr>
                        {% for date in dates %}
                            <th colspan="{{ subcolumns|length - 3 }}">{{ date }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for date in dates %}
                            {% for subcolumn in subcolumns %}
                                {% if subcolumn != 'Fecha' and subcolumn != 'Nombre' and subcolumn != 'Parte' %}
                                    <th>{{ subcolumn }}</th>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% set max_rows = data_by_date.values() | map('length') | max %}
                    {% for row_index in range(max_rows) %}
                        {% if row_index % 2 == 0 %}
                            <tr class="day-even">
                        {% else %}
                            <tr class="day-odd">
                        {% endif %}
                            {% for date in dates %}
                                {% if row_index < data_by_date[date] | length %}
                                    {% set row = data_by_date[date][row_index] %}
                                    {% for cell in row %}
                                        {% if cell != 'Fecha' and cell != 'Nombre' and cell != 'Parte' %}
                                            {% set cell_value = row[cell] %}
                                            {% set cell_value_float = cell_value | float %}
                                            {% if cell == 'Molde' %}
                                                {% set nombre = row['Nombre'] %}
                                                {% set parte = row['Parte'] %}
                                                <td title="Nombre: {{ nombre }}, Parte: {{ parte }}">{{ cell_value }}</td>
                                            {% elif cell == 'Turno' %}
                                                {% set turno_horario = turnos_dict.get(cell_value, 'Horario no disponible') %}
                                                <td title="Horario: {{ turno_horario }}">{{ cell_value }}</td>
                                            {% elif cell == 'Efec_T' %}
                                                <td class="{% if cell_value_float < 75 %}low{% elif cell_value_float < 95 %}medium{% else %}high{% endif %}">
                                                    {{ cell_value }}
                                                </td>
                                            {% elif cell == 'Efect_Prod' %}
                                                <td class="{% if cell_value_float < 50 %}low{% elif cell_value_float < 80 %}medium{% else %}high{% endif %}">
                                                    {{ cell_value }}
                                                </td>
                                            {% else %}
                                                <td>{{ cell_value }}</td>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for subcolumn in subcolumns %}
                                        {% if subcolumn != 'Fecha' and subcolumn != 'Nombre' and subcolumn != 'Parte' %}
                                            <td></td>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h2>Promedio Diario de Productividades</h2>
        <table class="daily-average-table horizontal-table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Promedio Eficiencia Total (%)</th>
                <th>Promedio Eficiencia de Producción (%)</th>
            </tr>
        </thead>
        <tbody>
            {% for date, averages in daily_averages.items() %}
                <tr>
                    <td>{{ date }}</td>
                    <td class="{% if averages['Efec_T'] < 50 %}low{% elif averages['Efec_T'] < 80 %}medium{% else %}high{% endif %}">
                        {{ averages['Efec_T'] }}
                    </td>
                    <td class="{% if averages['Efect_Prod'] < 50 %}low{% elif averages['Efect_Prod'] < 80 %}medium{% else %}high{% endif %}">
                        {{ averages['Efect_Prod'] }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <!-- JavaScript para actualizar las barras de progreso -->
    <script>
        // Función para actualizar las barras de progreso
        function updateProgressBar() {
            var progressBars = document.querySelectorAll('.progress-bar');
            progressBars.forEach(function(bar) {
                var width = bar.getAttribute('aria-valuenow');
                bar.style.width = width + '%';
            });
        }
        // Llamada inicial al cargar la página (asumiendo que Flask renderiza los valores en el template)
        window.onload = function() {
            updateProgressBar();
        };
    </script>
</body>
</html>
